<!-- ========== Start Section ========== -->
    <!-- form with is helpper of rails, and the parameter is my blog_post model-->
    <!-- the if checks, if the model have any errors, he prints the full array error of the object -->
    <!-- in our case, he validates if the fields are blank, because we put the validation in the model  -->
    <!-- if any field is balnk rails crate an error, after we can acccess to thes errors with the .errors-->
    <!-- And finally, the form, with the label and the text field and the text area -->
<!-- ========== End Section ========== -->
<%= form_with model: blog_post do |form|%>
    <% if form.object.errors.any? %>
        <div>
            <% form.object.errors.full_messages.each do |message|%>
                <div>
                    <%= message %>
                </div>
            <% end %>
        </div>
    <% end %>

    <div>
        <%= form.label :title%>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :body%>
        <%= form.text_area :body %>
    </div>
    <%= form.button %>
<% end %>