<!DOCTYPE html>
<html>
  <head>
    <title>BlogGoRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <div>
    <header class="w-1464 h-53 relative">
      <div class="w-[302px] h-[53px] opacity-20 bg-zinc-300 rounded-[11px]">
        <img src="/app/assets/images/ruby.png" alt="Ruby-Logo">
      </div>
      <div class="">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
      </div>
    </header>
  </div>
  <div >
    <% if user_signed_in? %>
      <%= link_to 'New blog post', new_blog_post_path %>
      <%#= link_to 'Profile', edit_user_registration_path %>
      <%= button_to 'log out', destroy_user_session_path, method: :delete%>
    <%# else %>
      <%#= link_to 'Log_in', new_user_session_path %>
      <%#= link_to 'Sign_up', new_user_registration_path %>
    <% end %>
  </div>

    <%= yield %>
  </body>
</html>
